In [42]:
import pandas as pd
import numpy as np

In [43]:
data = pd.read_csv('data_prep.tab', delimiter='\t')

Импортим нужные библиотеки и считываем данные. Смотрим на них.

In [44]:
data

,SEGM_DATE,CLIENT_ID,AVG_MG,MIN_MG,MAX_MG,COUNT_TR,SUM_TR_TOTAL,SUM_TR,RECENTY,AVG_SKU,...,PROFIT_GROUP_ID,CHANGE_PROFIT_GROUP_ID,CHANGE_SEGMENT_ID,PVAL_GROUP_CHANGE0,PVAL_GROUP_CHANGE1,PVAL_GROUP_CHANGE_1,MODIFY_DATE,_SEGMENT_,_SEGMENT_LABEL_,EM_SEGMENT
0,01MAR2012:00:00:00,1-ET-1502,4.00,4,4,1,3214.5,3316.62,13,5.00,...,NaN,NaN,NaN,NaN,NaN,NaN,18APR2014:15:43:32.045877,2,Cluster11,11
1,01APR2012:00:00:00,1-ET-1502,6.25,1,19,4,13764.0,14673.23,10,10.50,...,4.0,4.0,9.0,0.616352,0.062444,0.321204,18APR2014:18:11:24.215456,4,Cluster9,9
2,01MAY2012:00:00:00,1-ET-1502,6.83,1,19,6,23889.0,25500.05,25,11.50,...,3.0,3.0,6.0,0.624176,0.372781,0.003043,18APR2014:18:53:16.228328,6,Cluster6,6
3,01JUN2012:00:00:00,1-ET-1502,6.29,1,19,7,25101.5,26749.93,8,10.86,...,3.0,3.0,6.0,0.692361,0.301012,0.006627,18APR2014:19:26:16.159281,6,Cluster6,6
4,01JUL2012:00:00:00,1-ET-1502,10.60,1,30,5,32506.0,34514.59,10,20.80,...,3.0,3.0,6.0,0.884269,0.094544,0.021187,18APR2014:19:57:46.356046,6,Cluster6,6
5,01AUG2012:00:00:00,1-ET-1502,7.00,2,30,9,33490.5,35676.88,0,12.22,...,3.0,3.0,7.0,0.774391,0.029352,0.196257,19APR2014:17:51:07.138602,8,Cluster7,7
6,01SEP2012:00:00:00,1-ET-1502,7.38,2,30,8,30431.0,32478.28,10,12.88,...,3.0,3.0,7.0,0.774391,0.029352,0.196257,19APR2014:18:25:45.367656,8,Cluster7,7
7,01NOV2012:00:00:00,1-ET-1502,3.50,2,6,6,10446.0,10800.46,0,4.83,...,4.0,3.0,7.0,0.458627,0.525115,0.016258,20APR2014:10:28:44.904630,4,Cluster9,9
8,01DEC2012:00:00:00,1-ET-1502,3.14,1,6,7,13560.5,14349.06,17,4.14,...,4.0,4.0,9.0,0.616352,0.062444,0.321204,20APR2014:11:07:29.240365,4,Cluster9,9
9,01JAN2013:00:00:00,1-ET-1502,3.14,1,6,7,13560.5,14349.06,48,4.14,...,4.0,3.0,7.0,0.345257,0.640690,0.014053,20APR2014:11:47:53.545764,4,Cluster9,9
10,01FEB2013:00:00:00,1-ET-1502,2.00,1,3,2,4482.0,4916.50,78,2.50,...,5.0,5.0,11.0,0.786950,NaN,0.213050,20APR2014:12:42:49.175569,2,Cluster11,11
11,01MAR2013:00:00:00,1-ET-1502,3.00,3,3,1,1263.5,1344.50,24,4.00,...,5.0,5.0,11.0,0.646337,NaN,0.353663,21APR2014:16:11:41.573875,2,Cluster11,11
12,01APR2013:00:00:00,1-ET-1502,2.50,1,3,4,9362.0,9878.08,1,3.00,...,5.0,5.0,11.0,0.419226,NaN,0.580774,21APR2014:17:03:46.163882,2,Cluster11,11
13,01MAY2013:00:00:00,1-ET-1502,3.20,1,6,5,14095.5,14764.58,21,4.00,...,4.0,4.0,10.0,0.915212,0.042058,0.042730,22APR2014:19:14:49.783288,7,Cluster10,10
14,01JUL2013:00:00:00,1-ET-1502,3.50,1,6,2,6107.5,6413.50,26,4.50,...,4.0,3.0,6.0,0.473182,0.526818,0.000000,24APR2014:11:35:50.147261,7,Cluster10,10
15,01AUG2013:00:00:00,1-ET-1502,3.50,1,6,2,2667.0,3179.56,20,4.00,...,4.0,4.0,10.0,0.915212,0.042058,0.042730,24APR2014:12:33:27.574429,7,Cluster10,10
16,01OCT2013:00:00:00,1-ET-1502,6.50,6,7,2,2983.0,3402.86,13,9.00,...,4.0,3.0,6.0,0.364206,0.564067,0.071727,24APR2014:14:43:01.638004,7,Cluster10,10
17,01NOV2013:00:00:00,1-ET-1502,11.00,4,22,3,12098.5,12351.16,7,17.33,...,3.0,3.0,7.0,0.884269,0.094544,0.021187,24APR2014:17:11:45.606936,8,Cluster7,7
18,01JAN2014:00:00:00,1-ET-1502,11.25,1,22,4,19279.0,19815.09,34,17.00,...,3.0,4.0,9.0,0.307312,0.691303,0.001385,30MAY2014:13:13:54.515373,8,Cluster7,7

Создаем массив с названиями столбцов, для которых нужно создать 2 дополнительных столбца.

In [45]:
ar = data.columns[2:]
ar

Index(['AVG_MG', 'MIN_MG', 'MAX_MG', 'COUNT_TR', 'SUM_TR_TOTAL', 'SUM_TR',
       'RECENTY', 'AVG_SKU', 'AVG_COUNT_TR', 'MIN_COUNT_TR', 'MAX_COUNT_TR',
       'AVG_SUM_TR_TOTAL', 'AVG_SUM_TR', 'AVG_LATENCY', 'MIN_LATENCY',
       'MAX_LATENCY', 'NP_AMOUNT', 'NP_SUM', 'PR_AMOUNT', 'PR_SUM',
       'AL_AMOUNT', 'AL_SUM', 'OTHER_SUM', 'FAVORITE_STORE', 'SUM_MG',
       'D_TRANS', 'AVG_BILL', 'SEGMENT_ID', 'DISTANCE',
       'SUM_TR_TOTAL_BASE_DIST', 'SUM_TR_TOTAL_ETALON_DIST',
       'SUM_TR_TOTAL_DIST_TYPE', 'AVG_BILL_BASE_DIST', 'AVG_BILL_ETALON_DIST',
       'AVG_BILL_DIST_TYPE', 'AVG_COUNT_TR_BASE_DIST',
       'AVG_COUNT_TR_ETALON_DIST', 'AVG_COUNT_TR_DIST_TYPE',
       'D_TRANS_BASE_DIST', 'D_TRANS_ETALON_DIST', 'D_TRANS_DIST_TYPE',
       'AVG_MG_BASE_DIST', 'AVG_MG_ETALON_DIST', 'AVG_MG_DIST_TYPE',
       'SUM_MG_BASE_DIST', 'SUM_MG_ETALON_DIST', 'SUM_MG_DIST_TYPE',
       'GROUP_CHANGE_RESULT', 'PROFIT_GROUP_ID', 'CHANGE_PROFIT_GROUP_ID',
       'CHANGE_SEGMENT_ID', 'PVAL_GROUP_CHANGE0', 'PVAL_GROUP_CHANGE1',
       'PVAL_GROUP_CHANGE_1', 'MODIFY_DATE', '_SEGMENT_', '_SEGMENT_LABEL_',
       'EM_SEGMENT'],
      dtype='object')

Теперь для каждого элемента этого массива создаем два новых столбца по описанию задачи. У первого из дополнительных столбцов будет пропущенным первое значение, а остальные будут сдвигаться вниз из столбца-источника. Для второго аналогично.

In [46]:
for column in ar:
    data[column + '_1'] = [np.nan] + list(data[column])[:-1]
    data[column + '_2'] = [np.nan, np.nan] + list(data[column])[:-2]

Сделаем так, чтобы столбы-источники и дополнительные столбцы шли друг за другом. Для этого создадим новый массив столбцов и заполним его нужным образом. Далее, просто меняем порядок столбцов у датафрейма.

In [49]:
ar1 = []
for i in ar:
    ar1.append(i)
    ar1.append(i + '_1')
    ar1.append(i + '_2')

In [50]:
data = data[['SEGM_DATE', 'CLIENT_ID'] + ar1]
data

,SEGM_DATE,CLIENT_ID,AVG_MG,AVG_MG_1,AVG_MG_2,MIN_MG,MIN_MG_1,MIN_MG_2,MAX_MG,MAX_MG_1,...,MODIFY_DATE_2,_SEGMENT_,_SEGMENT__1,_SEGMENT__2,_SEGMENT_LABEL_,_SEGMENT_LABEL__1,_SEGMENT_LABEL__2,EM_SEGMENT,EM_SEGMENT_1,EM_SEGMENT_2
0,01MAR2012:00:00:00,1-ET-1502,4.00,NaN,NaN,4,NaN,NaN,4,NaN,...,NaN,2,NaN,NaN,Cluster11,NaN,NaN,11,NaN,NaN
1,01APR2012:00:00:00,1-ET-1502,6.25,4.00,NaN,1,4.0,NaN,19,4.0,...,NaN,4,2.0,NaN,Cluster9,Cluster11,NaN,9,11.0,NaN
2,01MAY2012:00:00:00,1-ET-1502,6.83,6.25,4.00,1,1.0,4.0,19,19.0,...,18APR2014:15:43:32.045877,6,4.0,2.0,Cluster6,Cluster9,Cluster11,6,9.0,11.0
3,01JUN2012:00:00:00,1-ET-1502,6.29,6.83,6.25,1,1.0,1.0,19,19.0,...,18APR2014:18:11:24.215456,6,6.0,4.0,Cluster6,Cluster6,Cluster9,6,6.0,9.0
4,01JUL2012:00:00:00,1-ET-1502,10.60,6.29,6.83,1,1.0,1.0,30,19.0,...,18APR2014:18:53:16.228328,6,6.0,6.0,Cluster6,Cluster6,Cluster6,6,6.0,6.0
5,01AUG2012:00:00:00,1-ET-1502,7.00,10.60,6.29,2,1.0,1.0,30,30.0,...,18APR2014:19:26:16.159281,8,6.0,6.0,Cluster7,Cluster6,Cluster6,7,6.0,6.0
6,01SEP2012:00:00:00,1-ET-1502,7.38,7.00,10.60,2,2.0,1.0,30,30.0,...,18APR2014:19:57:46.356046,8,8.0,6.0,Cluster7,Cluster7,Cluster6,7,7.0,6.0
7,01NOV2012:00:00:00,1-ET-1502,3.50,7.38,7.00,2,2.0,2.0,6,30.0,...,19APR2014:17:51:07.138602,4,8.0,8.0,Cluster9,Cluster7,Cluster7,9,7.0,7.0
8,01DEC2012:00:00:00,1-ET-1502,3.14,3.50,7.38,1,2.0,2.0,6,6.0,...,19APR2014:18:25:45.367656,4,4.0,8.0,Cluster9,Cluster9,Cluster7,9,9.0,7.0
9,01JAN2013:00:00:00,1-ET-1502,3.14,3.14,3.50,1,1.0,2.0,6,6.0,...,20APR2014:10:28:44.904630,4,4.0,4.0,Cluster9,Cluster9,Cluster9,9,9.0,9.0
10,01FEB2013:00:00:00,1-ET-1502,2.00,3.14,3.14,1,1.0,1.0,3,6.0,...,20APR2014:11:07:29.240365,2,4.0,4.0,Cluster11,Cluster9,Cluster9,11,9.0,9.0
11,01MAR2013:00:00:00,1-ET-1502,3.00,2.00,3.14,3,1.0,1.0,3,3.0,...,20APR2014:11:47:53.545764,2,2.0,4.0,Cluster11,Cluster11,Cluster9,11,11.0,9.0
12,01APR2013:00:00:00,1-ET-1502,2.50,3.00,2.00,1,3.0,1.0,3,3.0,...,20APR2014:12:42:49.175569,2,2.0,2.0,Cluster11,Cluster11,Cluster11,11,11.0,11.0
13,01MAY2013:00:00:00,1-ET-1502,3.20,2.50,3.00,1,1.0,3.0,6,3.0,...,21APR2014:16:11:41.573875,7,2.0,2.0,Cluster10,Cluster11,Cluster11,10,11.0,11.0
14,01JUL2013:00:00:00,1-ET-1502,3.50,3.20,2.50,1,1.0,1.0,6,6.0,...,21APR2014:17:03:46.163882,7,7.0,2.0,Cluster10,Cluster10,Cluster11,10,10.0,11.0
15,01AUG2013:00:00:00,1-ET-1502,3.50,3.50,3.20,1,1.0,1.0,6,6.0,...,22APR2014:19:14:49.783288,7,7.0,7.0,Cluster10,Cluster10,Cluster10,10,10.0,10.0
16,01OCT2013:00:00:00,1-ET-1502,6.50,3.50,3.50,6,1.0,1.0,7,6.0,...,24APR2014:11:35:50.147261,7,7.0,7.0,Cluster10,Cluster10,Cluster10,10,10.0,10.0
17,01NOV2013:00:00:00,1-ET-1502,11.00,6.50,3.50,4,6.0,1.0,22,7.0,...,24APR2014:12:33:27.574429,8,7.0,7.0,Cluster7,Cluster10,Cluster10,7,10.0,10.0
18,01JAN2014:00:00:00,1-ET-1502,11.25,11.00,6.50,1,4.0,6.0,22,22.0,...,24APR2014:14:43:01.638004,8,8.0,7.0,Cluster7,Cluster7,Cluster10,7,7.0,10.0